*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Roboto',sans-serif;
    position: relative;
}

/**HEADER**/
#nav-principal{
    background-color: #1CD1B0;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.4rem;
}
#nav-secundaria{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #00669F;
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.1rem;
}

#nav-opciones{
    background-color: #001D2D;
    box-shadow:0.2rem 0.2rem 0.8rem #2c2c2c;
    color: #ffffff;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.8rem;
}

#nav-opciones li{
    display: inline;
    margin: 0.5rem;
}

#nav-opciones a{
    text-decoration: none;
    color: #ffffff;
}

#nav-opciones a:visited{
    text-decoration: none;
    color: #ffffff;
}

#nav-opciones a:hover{
    color: #1CD1B0;
    font-weight: 600;
}
/**Sección CONTENIDO GENERAL**/
section{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    height: 100%;
    width: 100%;
    
}
/**CARDS**/
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.75rem;
    margin: 1rem;
    background: #f3f3f3;
    box-shadow: 0.2rem 0.2rem 0.5rem #464646;
    border-radius:1rem 1rem 0rem 0rem;
    overflow: hidden;
    position: relative;
}

.heart{
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    margin: 0.9rem 1.3rem;

}

.fondo{
    height: 12rem;
    width: 18.75rem;
    margin: 0;
}

.perfil{
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 3.75rem;
    box-shadow: 0.2rem 0.2rem 0.3rem #2e2e2e;
    position: absolute;
    top: 7.5rem;
}    

h2{
    text-align: center;
    font-size:1.8rem;
    font-weight: 400;
    margin-top: 4rem;
}

.content{
    padding: 0rem 1rem 0rem 1rem;
    font-size: 1rem;
    height: 14rem;
}

.button-div{
    width: 100%;
    margin: 1rem;
}

.agregar img{
    margin: 1rem;
    position: absolute;
    top: 10rem;
    right: 0.5rem;
}

button{
    background-color: #00669F;
    padding: 1rem 2rem;
    border: none;
    color: #ffffff;
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: block;
    margin: auto;
    
}
#mas{
    background-color: #00669F;
    color: #ffffff;
    text-align: center;
    border-radius: 1rem;
    padding: 0.4rem 0.72rem;
    display: none;
    font-weight: 700;
    margin: 1.5rem;
    box-shadow: 0.2rem 0.2rem 0.3rem #2e2e2e;

}
/**Sección FOOTER**/
footer{
    background-color: #00669F;
    width: 100%;
    color: #ffffff;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    position: absolute;
    bottom: 0;
}


/**MEDIA QUERIES**/

/**tablet**/

@media (max-width:768px) {
    nav-opciones{
        display: none;
    }
    
}

/**smartphones**/

@media (max-width:550px) {
 .content{
     display: none;
 }

 .button-div{
     display: none;
 }
 #mas{
     display: block;
     align-self: flex-end;
 }

 .agregar img{
     display:none;
 }

}