*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Roboto',sans-serif;
    position: relative;
}

/**HEADER**/
#nav-principal{
    background-color: #1CD1B0;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.4rem;
}
#nav-secundaria{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #00669F;
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0.1rem;
}

#nav-opciones{
    background-color: #001D2D;
    box-shadow:0.2rem 0.2rem 0.8rem #2c2c2c;
    color: #ffffff;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.8rem;
}

#nav-opciones li{
    display: inline;
    margin: 0.5rem;
}

#nav-opciones a{
    text-decoration: none;
    color: #ffffff;
}

#nav-opciones a:visited{
    text-decoration: none;
    color: #ffffff;
}

#nav-opciones a:hover{
    color: #1CD1B0;
    font-weight: 600;
}

/**SECCIÓN PRINCIPAL**/

section{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#recuadro{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #00669F;
    border-radius: 1rem;
    margin: 2rem;
}

#recuadro h3{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem;
}


#recuadro p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem;
}

input,select,textarea{
     width: 100%;
    color: #2c2c2c;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.6rem;
}


.full{
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: none;
}

.full:hover{
    box-shadow: 0.2rem 0.2rem 0.8rem #4e4e4e;
}
label{
    color: #ffffff;
    font-size:0.7rem;
    font-weight: 300;
    margin-left: 0.5rem;
}

#main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

textarea{
    height: 13.5rem;
}

#datos-fecha-contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
        
}

#datos,#fecha,#contenido{
    width: 100%;
    margin-top: 0.5rem;
}


#especie-foto-poderes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin:0.5rem;
    
}

#especie,#foto,#poderes-personaje{
    width: 100%;
    margin-top: 0.5rem;
    
}

#poderes-personaje h4{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0rem;
}


.checkbox,.radio{
    display: inline;
    width: fit-content;
}


.radiocheck:hover{
    font-size: 1rem;
    color: #1CD1B0;
}
.labelcheck:hover{
    font-size: 1rem;
    color: #1CD1B0;
}

#Añadir{
    background-color:#1CD1B0;
    font-size: 2rem;
    color: #2c2c2c;
    border: none;
    border-radius: 0.5rem;
    margin: 1rem;
    width: 16rem;
}

#Añadir:hover{
    box-shadow: 0.5rem 0.5rem 1rem #2c2c2c;
    background-color:#ffffff;
    
}

footer{
    background-color: #00669F;
    width: 100%;
    color: #ffffff;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    position: absolute;
    bottom: 0;
    
}


/**MEDIA QUERIES**/

@media (max-width:550px) {
    form{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
}